@import 'fonts';


header {
    background-image: url(../images/header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;


    &__title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    &__form {
        display: flex;
        justify-content: space-between;
        border: 3px solid white;
        background-color: white;
        max-width: 650px;
        width: 100%;
        height: 60px;


        input {
            color: #000000;
            width: 500px;
            border: none;
            text-align: center;
            font-size: 14px;
            font-family: $josefin;
            line-height: 26px;
            letter-spacing: 3px;
            font-weight: 400;
        }

        .search {
            border: none;
            background-color: $main-color;
            font-family: $aleo;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 0 20px;
            font-size: 14px;
            letter-spacing: 2px;


            &:hover {
                background-color: $hover-color;
            }
        }
    }

    &__anchor {
        text-align: center;
        font-size: 14px;
        font-family: $josefin;
        line-height: 26px;
        letter-spacing: 3px;
        font-weight: 400;
        color: white;
    }
}

.icon {
    color: #FFFFFF;
    font-size: 20px;
}

.icon:hover {
    color: $hover-color;
}


.logotype {
    color: #FFFFFF;
    font-family: $josefin;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 5px;
}

.header-p {
    color: #FFFFFF;
    font-size: 22px;
    font-family: $aleo;
    letter-spacing: 7px;
    line-height: 26px;
}


// RESPONSIVE
@media (max-width: 700px) {
    header {
        padding: 40px 20px;
        height: auto;
    }

    .header__form {
        flex-direction: column;
        height: auto;

        input,
        .search {
            width: 100%;
            height: 40px;
        }

        input {
            padding: 10px;
        }

        .search {
            font-size: 14px;
            padding: 0;
        }
    }

    .header-p {
        font-size: 14px;
    }

    .logotype {
        font-size: 35px;
    }
}

// RESPONSIVE
@media (max-width: 400px) {

    .header__form {
        border-width: 2px;
    }

    .header__form input::placeholder {
    font-size: 12px; 
  }

    input {
        font-size: 12px;
    }

    .search {
        font-size: 12px;
    }

    .header__anchor {
        font-size: 12px;
    }

    .header-p {
        font-size: 16px;
    }

    .icon {
        font-size: 18px;
    }

    .logotype {
        font-size: 30px;
    }
}