@use 'fonts';

@import 'header';
@import 'navigation';
@import 'first';
@import 'second';
@import 'footer';
@import 'third_fourth';

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}